* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #cbb4a6;
}

:root {
    --dark-color: #b8a091;
    --light-color: #f7f4f3;
    --primary-color: #cbb4a6;
}

body {
    font-family: 'Poppins','Bodoni Moda', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* Navbar */

.navbar{
    background: var(--primary-color);
    padding: 50px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 25px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--dark-color);
}

.navbar ul li a i {
    margin-right: 10px;
}


.navbar ul li:last-child a {
    margin-left: 10px;
}

/* Hero */

.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/hero-bg-elina.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    color: #493d35; 
    margin-bottom: 20px;
}

/* Utility Classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: #d1bfb3;
    color: var(--light-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.5;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */

.text-xxl {
    font-family: 'Bodoni Moda', serif;
    color: var(--light-color);
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    color: #493d35;   
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: var(--light-color);
    margin: 6px 0;
}

/* Mobile Menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: var(--primary-color);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

/*Media Queries */

@media (max-width: 960px) {
    .text-xxl {
        font-size: 2rem;
    }
}

@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background: url('../images/hero-bg-elina-mobile.png') no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content, .hero .hero-text  {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom; 10px;
        display: block;
        width: 100%;
    }

}

@media (max-width: 500px) {

}